<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collections-list</key>
	<array>
		<string>F42E3B1A-7316-4922-95D0-27DAE03CC0D4</string>
	</array>
	<key>contentBaseVersion</key>
	<integer>1636</integer>
	<key>contentEditCount</key>
	<integer>0</integer>
	<key>contentStructureVersion</key>
	<integer>4</integer>
	<key>identifier</key>
	<string>CD2BDABE-15AB-493F-827E-995BBE7349D5</string>
	<key>libraryStructureVersion</key>
	<integer>2</integer>
	<key>resources</key>
	<dict/>
</dict>
</plist>
