<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>created-at-base-version</key>
	<integer>1628</integer>
	<key>id</key>
	<string>4AA9EAEC-F5E6-4F36-9AB3-F18A64D850FE</string>
	<key>name</key>
	<string>Inky</string>
	<key>options</key>
	<integer>2</integer>
	<key>properties</key>
	<array>
		<dict>
			<key>key</key>
			<string>ColorAdjustmentData</string>
			<key>value</key>
			<data>
			WzIseyJjYSI6WzEseyJWIjoxLCJFIjoxLCJBIjowfV0sInIiOlsx
			LHsiViI6MSwiRSI6MCwiciI6WzEseyJyIjowLjUsImkiOjF9XX1d
			LCJoUyI6WzEseyJWIjoxLCJ2IjowLjEwMTg4MDY1NjEwODU5NzIs
			IkEiOjAsInMiOjAuNjk4MTA1MjAzNjE5OTA5NTgsIkUiOjEsImgi
			OjB9XSwicyI6WzEseyJWIjoxLCJFIjowLCJpIjoxfV0sImUiOjAs
			ImYiOlsxLHsiViI6MSwiYyI6MCwiRSI6MCwiZiI6MX1dLCJnIjpb
			MSx7IlYiOjEsImkiOjAuNSwicyI6MC4yNSwiRSI6MH1dLCJMIjpb
			MSx7IlYiOjEsIkUiOjB9XSwidSI6MSwiTSI6WzEseyJWIjoxLCJp
			IjoxLCJjIjpbMSx7Im0iOjIsImMiOlswLjU5MTk5OTk5OTk5OTk5
			OTk3LDAuNDUwMDAwMDAwMDAwMDAwMDEsMC4zMDQ5OTk5OTk5OTk5
			OTk5OSwxXSwiY3NyIjowfV0sIkUiOjB9XSwidiI6WzEseyJWIjox
			LCJiIjowLCJlIjowLjUsInMiOjEsIkUiOjB9XSwiaSI6WzEseyJW
			IjoxLCJFIjowLCJpIjoxfV0sInciOlsxLHsiViI6MSwiVCI6MCwi
			QSI6MCwiRSI6MSwidCI6MH1dLCJjbCI6eyJ2ZXJzaW9uIjoxLCJ2
			ZXJzaW9uU3BlY2lmaUNvbnRhaW5lciI6eyJWIjp0cnVlLCJoIjp7
			InZlcnNpb24iOjEsInZlcnNpb25TcGVjaWZpQ29udGFpbmVyIjp7
			ImNsYXJpdHkiOjAsInRleHR1cmUiOjB9fSwicyI6eyJ2ZXJzaW9u
			IjoxLCJ2ZXJzaW9uU3BlY2lmaUNvbnRhaW5lciI6eyJjbGFyaXR5
			IjowLCJ0ZXh0dXJlIjowfX0sIkUiOmZhbHNlLCJtIjp7InZlcnNp
			b24iOjEsInZlcnNpb25TcGVjaWZpQ29udGFpbmVyIjp7ImNsYXJp
			dHkiOjAsInRleHR1cmUiOjB9fX19LCJjdHgiOlsxLHsiY3MiOlsx
			LHsibWFwIjp7IjAiOlsxLHsibSI6MiwiayI6MCwiaWNjIjoiQUFB
			TVNFeHBibThDRUFBQWJXNTBjbEpIUWlCWVdWb2dCODRBQWdBSkFB
			WUFNUUFBWVdOemNFMVRSbFFBQUFBQVNVVkRJSE5TUjBJQUFBQUFB
			QUFBQUFBQUFBQUFBUGJXQUFFQUFBQUEweTFJVUNBZ0FBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQVJZM0J5ZEFBQUFWQUFBQUF6WkdWell3
			QUFBWVFBQUFCc2QzUndkQUFBQWZBQUFBQVVZbXR3ZEFBQUFnUUFB
			QUFVY2xoWldnQUFBaGdBQUFBVVoxaFpXZ0FBQWl3QUFBQVVZbGha
			V2dBQUFrQUFBQUFVWkcxdVpBQUFBbFFBQUFCd1pHMWtaQUFBQXNR
			QUFBQ0lkblZsWkFBQUEwd0FBQUNHZG1sbGR3QUFBOVFBQUFBa2JI
			VnRhUUFBQVwvZ0FBQUFVYldWaGN3QUFCQXdBQUFBa2RHVmphQUFB
			QkRBQUFBQU1jbFJTUXdBQUJEd0FBQWdNWjFSU1F3QUFCRHdBQUFn
			TVlsUlNRd0FBQkR3QUFBZ01kR1Y0ZEFBQUFBQkRiM0I1Y21sbmFI
			UWdLR01wSURFNU9UZ2dTR1YzYkdWMGRDMVFZV05yWVhKa0lFTnZi
			WEJoYm5rQUFHUmxjMk1BQUFBQUFBQUFFbk5TUjBJZ1NVVkROakU1
			TmpZdE1pNHhBQUFBQUFBQUFBQUFBQUFTYzFKSFFpQkpSVU0yTVRr
			Mk5pMHlMakVBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFGaFpX
			aUFBQUFBQUFBRHpVUUFCQUFBQUFSYk1XRmxhSUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUJZV1ZvZ0FBQUFBQUFBYjZJQUFEajFBQUFEa0Zo
			WldpQUFBQUFBQUFCaW1RQUF0NFVBQUJqYVdGbGFJQUFBQUFBQUFD
			U2dBQUFQaEFBQXRzOWtaWE5qQUFBQUFBQUFBQlpKUlVNZ2FIUjBj
			RG92TDNkM2R5NXBaV011WTJnQUFBQUFBQUFBQUFBQUFCWkpSVU1n
			YUhSMGNEb3ZMM2QzZHk1cFpXTXVZMmdBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBWkdWell3QUFBQUFBQUFBdVNVVkRJRFl4T1RZMkxUSXVN
			U0JFWldaaGRXeDBJRkpIUWlCamIyeHZkWElnYzNCaFkyVWdMU0J6
			VWtkQ0FBQUFBQUFBQUFBQUFBQXVTVVZESURZeE9UWTJMVEl1TVNC
			RVpXWmhkV3gwSUZKSFFpQmpiMnh2ZFhJZ2MzQmhZMlVnTFNCelVr
			ZENBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUdSbGMyTUFB
			QUFBQUFBQUxGSmxabVZ5Wlc1alpTQldhV1YzYVc1bklFTnZibVJw
			ZEdsdmJpQnBiaUJKUlVNMk1UazJOaTB5TGpFQUFBQUFBQUFBQUFB
			QUFDeFNaV1psY21WdVkyVWdWbWxsZDJsdVp5QkRiMjVrYVhScGIy
			NGdhVzRnU1VWRE5qRTVOall0TWk0eEFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFCMmFXVjNBQUFBQUFBVHBQNEFGRjh1
			QUJEUEZBQUQ3Y3dBQkJNTEFBTmNuZ0FBQUFGWVdWb2dBQUFBQUFC
			TUNWWUFVQUFBQUZjZjUyMWxZWE1BQUFBQUFBQUFBUUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUtQQUFBQUFuTnBaeUFBQUFBQVExSlVJ
			R04xY25ZQUFBQUFBQUFFQUFBQUFBVUFDZ0FQQUJRQUdRQWVBQ01B
			S0FBdEFESUFOd0E3QUVBQVJRQktBRThBVkFCWkFGNEFZd0JvQUcw
			QWNnQjNBSHdBZ1FDR0FJc0FrQUNWQUpvQW53Q2tBS2tBcmdDeUFM
			Y0F2QURCQU1ZQXl3RFFBTlVBMndEZ0FPVUE2d0R3QVBZQSt3RUJB
			UWNCRFFFVEFSa0JId0VsQVNzQk1nRTRBVDRCUlFGTUFWSUJXUUZn
			QVdjQmJnRjFBWHdCZ3dHTEFaSUJtZ0doQWFrQnNRRzVBY0VCeVFI
			UkFka0I0UUhwQWZJQitnSURBZ3dDRkFJZEFpWUNMd0k0QWtFQ1N3
			SlVBbDBDWndKeEFub0NoQUtPQXBnQ29nS3NBcllDd1FMTEF0VUM0
			QUxyQXZVREFBTUxBeFlESVFNdEF6Z0RRd05QQTFvRFpnTnlBMzRE
			aWdPV0E2SURyZ082QThjRDB3UGdBK3dEK1FRR0JCTUVJQVF0QkRz
			RVNBUlZCR01FY1FSK0JJd0VtZ1NvQkxZRXhBVFRCT0VFOEFUK0JR
			MEZIQVVyQlRvRlNRVllCV2NGZHdXR0JaWUZwZ1cxQmNVRjFRWGxC
			ZllHQmdZV0JpY0dOd1pJQmxrR2FnWjdCb3dHblFhdkJzQUcwUWJq
			QnZVSEJ3Y1pCeXNIUFFkUEIyRUhkQWVHQjVrSHJBZVwvQjlJSDVR
			ZjRDQXNJSHdneUNFWUlXZ2h1Q0lJSWxnaXFDTDRJMGdqbkNQc0pF
			QWtsQ1RvSlR3bGtDWGtKandta0Nib0p6d25sQ2ZzS0VRb25DajBL
			VkFwcUNvRUttQXF1Q3NVSzNBcnpDd3NMSWdzNUMxRUxhUXVBQzVn
			THNBdklDK0VMK1F3U0RDb01Rd3hjREhVTWpneW5ETUFNMlF6ekRR
			ME5KZzFBRFZvTmRBMk9EYWtOd3czZURmZ09FdzR1RGtrT1pBNVwv
			RHBzT3RnN1NEdTRQQ1E4bEQwRVBYZzk2RDVZUHN3XC9QRCt3UUNS
			QW1FRU1RWVJCK0VKc1F1UkRYRVBVUkV4RXhFVThSYlJHTUVhb1J5
			UkhvRWdjU0poSkZFbVFTaEJLakVzTVM0eE1ERXlNVFF4TmpFNE1U
			cEJQRkUrVVVCaFFuRkVrVWFoU0xGSzBVemhUd0ZSSVZOQlZXRlhn
			Vm14VzlGZUFXQXhZbUZra1diQmFQRnJJVzFoYjZGeDBYUVJkbEY0
			a1hyaGZTRlwvY1lHeGhBR0dVWWloaXZHTlVZK2hrZ0dVVVpheG1S
			R2JjWjNSb0VHaW9hVVJwM0dwNGF4UnJzR3hRYk94dGpHNG9ic2h2
			YUhBSWNLaHhTSEhzY294ek1IUFVkSGgxSEhYQWRtUjNESGV3ZUZo
			NUFIbW9lbEI2K0h1a2ZFeDgrSDJrZmxCK1wvSCtvZ0ZTQkJJR3dn
			bUNERUlQQWhIQ0ZJSVhVaG9TSE9JZnNpSnlKVklvSWlyeUxkSXdv
			ak9DTm1JNVFqd2lQd0pCOGtUU1I4SktzazJpVUpKVGdsYUNXWEpj
			Y2w5eVluSmxjbWh5YTNKdWduR0NkSkozb25xeWZjS0Ewb1B5aHhL
			S0lvMUNrR0tUZ3BheW1kS2RBcUFpbzFLbWdxbXlyUEt3SXJOaXRw
			SzUwcjBTd0ZMRGtzYml5aUxOY3REQzFCTFhZdHF5M2hMaFl1VEM2
			Q0xyY3U3aThrTDFvdmtTXC9ITFwvNHdOVEJzTUtRdzJ6RVNNVW94
			Z2pHNk1mSXlLakpqTXBzeTFETU5NMFl6ZnpPNE1cL0UwS3pSbE5K
			NDAyRFVUTlUwMWh6WENOZjAyTnpaeU5xNDI2VGNrTjJBM25EZlhP
			QlE0VURpTU9NZzVCVGxDT1g4NXZEbjVPalk2ZERxeU91ODdMVHRy
			TzZvNzZEd25QR1U4cER6alBTSTlZVDJoUGVBK0lENWdQcUErNEQ4
			aFAyRVwvb2pcL2lRQ05BWkVDbVFPZEJLVUZxUWF4QjdrSXdRbkpD
			dFVMM1F6cERmVVBBUkFORVIwU0tSTTVGRWtWVlJacEYza1lpUm1k
			R3EwYndSelZIZTBmQVNBVklTMGlSU05kSkhVbGpTYWxKOEVvM1Nu
			MUt4RXNNUzFOTG1rdmlUQ3BNY2t5NlRRSk5TazJUVGR4T0pVNXVU
			cmRQQUU5SlQ1TlAzVkFuVUhGUXUxRUdVVkJSbTFIbVVqRlNmRkxI
			VXhOVFgxT3FVXC9aVVFsU1BWTnRWS0ZWMVZjSldEMVpjVnFsVzkx
			ZEVWNUpYNEZndldIMVl5MWthV1dsWnVGb0hXbFphcGxyMVcwVmJs
			VnZsWERWY2hseldYU2RkZUYzSlhocGViRjY5WHc5ZllWK3pZQVZn
			VjJDcVlQeGhUMkdpWWZWaVNXS2NZdkJqUTJPWFkrdGtRR1NVWk9s
			bFBXV1NaZWRtUFdhU1p1aG5QV2VUWitsb1AyaVdhT3hwUTJtYWFm
			RnFTR3FmYXZkclQydW5hXC85c1YyeXZiUWh0WUcyNWJoSnVhMjdF
			Yng1dmVHXC9SY0N0d2huRGdjVHB4bFhId2NrdHlwbk1CYzExenVI
			UVVkSEIwekhVb2RZVjE0WFkrZHB0MitIZFdkN040RVhodWVNeDVL
			bm1KZWVkNlJucWxld1I3WTN2Q2ZDRjhnWHpoZlVGOW9YNEJmbUor
			d244amY0UlwvNVlCSGdLaUJDb0ZyZ2MyQ01JS1NndlNEVjRPNmhC
			MkVnSVRqaFVlRnE0WU9obktHMTRjN2g1K0lCSWhwaU02Sk00bVpp
			ZjZLWklyS2l6Q0xsb3Y4akdPTXlvMHhqWmlOXC80NW1qczZQTm8r
			ZWtBYVFicERXa1QrUnFKSVJrbnFTNDVOTms3YVVJSlNLbFBTVlg1
			WEpsalNXbjVjS2wzV1g0SmhNbUxpWkpKbVFtZnlhYUpyVm0wS2Jy
			NXdjbkltYzk1MWtuZEtlUUo2dW54MmZpNVwvNm9HbWcyS0ZIb2Jh
			aUpxS1dvd2FqZHFQbXBGYWt4NlU0cGFtbUdxYUxwdjJuYnFmZ3FG
			S294S2szcWFtcUhLcVBxd0tyZGF2cHJGeXMwSzFFcmJpdUxhNmhy
			eGF2aTdBQXNIV3c2ckZnc2RheVM3TENzeml6cnJRbHRKeTFFN1dL
			dGdHMmViYnd0MmkzNExoWnVORzVTcm5DdWp1NnRic3V1NmU4SWJ5
			YnZSVzlqNzRLdm9TK1wvNzk2dlwvWEFjTURzd1dmQjQ4SmZ3dHZE
			V01QVXhGSEV6c1ZMeGNqR1JzYkR4MEhIdjhnOXlMekpPc201eWpq
			S3Q4czJ5N2JNTmN5MXpUWE50YzQyenJiUE44KzQwRG5RdXRFODBi
			N1NQOUxCMDBUVHh0UkoxTXZWVHRYUjFsWFcyTmRjMStEWVpOam8y
			V3paOGRwMjJ2dmJnTndGM0lyZEVOMlczaHplb3Q4cDM2XC9nTnVD
			OTRVVGh6T0pUNHR2alkrUHI1SFBrXC9PV0U1ZzNtbHVjZjU2bm9N
			dWk4NlVicDBPcGI2dVhyY092NzdJYnRFZTJjN2lqdXRPOUE3OHp3
			V1BEbDhYTHhcL1wvS004eG56cFwvUTA5TUwxVVBYZTltMzIrXC9l
			SytCbjRxUGs0K2NmNlZcL3JuKzNmOEJcL3lZXC9Tbjl1djVMXC90
			elwvYmZcL1wvIn1dfX1dfV0sImNMIjpbMSx7IlYiOjEsIkUiOjAs
			ImEiOjF9XSwiQiI6WzEseyJWIjoxLCJFIjoxLCJBIjowfV0sIkMi
			OlsyLHsiZyI6WzEseyJkIjowLCJwIjpbWzAsMF0sWzEsMV1dLCJz
			IjowLCJsIjowLCJoIjowfV0sIlYiOjEsInJnYiI6WzEseyJkIjow
			LCJwIjpbWzAsMF0sWzEsMV1dLCJzIjowLCJsIjowLCJoIjowfV0s
			IkUiOjAsImwiOlsxLHsiZCI6MCwicCI6W1swLDBdLFsxLDFdXSwi
			cyI6MCwibCI6MCwiaCI6MH1dLCJyIjpbMSx7ImQiOjAsInAiOltb
			MCwwXSxbMSwxXV0sInMiOjAsImwiOjAsImgiOjB9XSwiYiI6WzEs
			eyJkIjowLCJwIjpbWzAsMF0sWzEsMV1dLCJzIjowLCJsIjowLCJo
			IjowfV19XSwibCI6WzEseyJWIjoxLCJjIjowLCJoIjowLCJFIjox
			LCJBIjowLCJCIjowLjEwMjUxNjk2ODMyNTc5MTgyLCJlIjowLjMw
			Mzk0NTEzNTc0NjYwNjUzLCJUIjowLCJDIjowLCJzIjowLCJiIjow
			fV0sImNzciI6MCwibSI6WzEseyJWIjoxLCJFIjowfV0sIlIiOlsx
			LHsiViI6MSwiciI6MC41LCJSIjowLjI1LCJpIjoxLCJjIjpbMSx7
			Im0iOjIsImMiOlswLDEsMCwxXSwiY3NyIjowfV0sIkUiOjB9XSwi
			aW4iOjEsIlMiOlsxLHsiViI6MSwiaSI6MC41LCJyIjoyLjUsIkUi
			OjB9XSwiYiI6WzEseyJWIjoxLCJpIjoxLCJFIjowLCJ0IjowfV19
			XQ==
			</data>
		</dict>
	</array>
</dict>
</plist>
